main{
    flex:1
}

main ul{
    display:grid;
    list-style-type: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

li.dev-item {
    background:#FFF;
    box-shadow: 0 0 34px 0 rgba(0, 0, 0, 0.02);
    border-radius: 2px;
    padding: 20px
}

li.dev-item header {
    display:flex;
    flex-direction: row;
    align-items: center;
}

li.dev-item header img {
    width: 54px;
    height: 54px;
    border-radius: 50%;
}

li.dev-item header .user-info{
    margin-left: 10px;
}

.user-info strong{
    display:block;
    font-size:16px;
    color:#333
}

.user-info span{
    font-size: 13px;
    color:#999;
    margin-top: 2px;
}

@media(max-width: 650px) {
    main ul{
        grid-template-columns: 1fr;
    }
}